@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Arvo);
/*components*/
@import "components/nav.css";
@import "components/input.css";
@import "components/loading.css";
/*screens*/
@import "screens/screen_index.css";
@import "screens/screen_artworks.css";
@import "screens/screen_profile.css";
@import "screens/screen_nft.css";
@import "screens/screen_app.css";

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.home_body {
  background: radial-gradient(
    circle closest-corner at center,
    #337540 0%,
    #003832 100%
  );
}

canvas {
  display: block;
}

.app_body {
  background-color: white;
}
