.nft_bg {
  background: linear-gradient(to right, yellow, aqua);
}

.nft_title {
  margin-top: 100px;
  margin-right: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.nft_title span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nft_title span:hover {
  background-color: aqua;
}

.nft_title img {
  width: 35px;
  height: 35px;
  padding: 0px 10px;
  cursor: pointer;
}

.nft-contents__main {
  display: grid;
  justify-content: center;
  grid-template-columns: 250px 250px;
  gap: 30px;
}

.nft-content__main {
  padding: 20px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft-content__main img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nft-content__main span {
  font-weight: 600;
  font-size: 25px;
}

.nft-contents {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 10px;
}

.nft-content {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft-content img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nft-content span {
  font-weight: 600;
}
