#home_main_container {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  animation: fadeIn 0.8s linear;
  margin-bottom: 20px;
  margin-left: 120px;
}

#home_main_container img {
  width: 250px;
  height: 250px;
  margin-right: 30px;
}

.home_main_texts {
  margin-right: 30px;
}

.home_main_texts h1 {
  font-family: serif;
  font-size: 35px;
}

.home_main_texts h3 {
  color: rgb(29, 28, 28, 0.7);
}

.home_main_texts h2 {
  font-family: cursive;
  color: rgb(29, 28, 28);
  text-align: right;
}

.home_main_contents {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  padding-top: 30px;
  border-top: 2px solid rgba(0, 0, 0, 0.349);
}

.home_main_contents img {
  width: 300px;
  height: 420px;
}
