.contents {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  padding-bottom: 16px;

  :global(.swiper-wrapper) {
    align-items: flex-start;
  }

  :global(.swiper-pagination) {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  :global(.swiper-pagination-bullet) {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: rgba(128, 128, 128, 0.5);
    opacity: 1;
    transition:
      width 0.2s,
      background-color 0.2s;
    margin: 0 !important;

    @media (prefers-color-scheme: dark) {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  :global(.swiper-pagination-bullet-active) {
    width: 18px;
    background-color: #222;

    @media (prefers-color-scheme: dark) {
      background-color: #fff;
    }
  }
}

.slide {
  height: auto !important;
}

