@use "sass:map";

// ── maps ─────────────────────────────

$font-size-map: (
  t1: $font-size-t1,
  t2: $font-size-t2,
  t3: $font-size-t3,
  t4: $font-size-t4,
  t5: $font-size-t5,
  t6: $font-size-t6,
  t7: $font-size-t7,
  t8: $font-size-t8,
  t9: $font-size-t9,
  t10: $font-size-t10,
);

$font-size-static-map: (
  t1: $font-size-t1-static,
  t2: $font-size-t2-static,
  t3: $font-size-t3-static,
  t4: $font-size-t4-static,
  t5: $font-size-t5-static,
  t6: $font-size-t6-static,
  t7: $font-size-t7-static,
  t8: $font-size-t8-static,
  t9: $font-size-t9-static,
  t10: $font-size-t10-static,
);

$line-height-map: (
  t1: $line-height-t1,
  t2: $line-height-t2,
  t3: $line-height-t3,
  t4: $line-height-t4,
  t5: $line-height-t5,
  t6: $line-height-t6,
  t7: $line-height-t7,
  t8: $line-height-t8,
  t9: $line-height-t8,
  t10: $line-height-t8,
);

$font-weight-map: (
  regular: $fw-regular,
  medium: $fw-medium,
  bold: $fw-bold,
);

// ── mixin ─────────────────────────────

@mixin ty($size, $weight: regular, $static: false) {
  @if $static {
    font-size: map.get($font-size-static-map, $size);
  } @else {
    font-size: map.get($font-size-map, $size);
  }

  line-height: map.get($line-height-map, $size);

  font-weight: map.get($font-weight-map, $weight);
}
@use "sass:map";

// ── Font Size ───────────────────────

$font-size-t1: 0.6875rem;
$font-size-t2: 0.75rem;
$font-size-t3: 0.8125rem;
$font-size-t4: 0.875rem;
$font-size-t5: 1rem;
$font-size-t6: 1.125rem;
$font-size-t7: 1.25rem;
$font-size-t8: 1.375rem;
$font-size-t9: 1.5rem;
$font-size-t10: 1.625rem;

// ── Static Font Size ────────────────

$font-size-t1-static: 11px;
$font-size-t2-static: 12px;
$font-size-t3-static: 13px;
$font-size-t4-static: 14px;
$font-size-t5-static: 16px;
$font-size-t6-static: 18px;
$font-size-t7-static: 20px;
$font-size-t8-static: 22px;
$font-size-t9-static: 24px;
$font-size-t10-static: 26px;

// ── Line Height ─────────────────────

$line-height-t1: 0.9375rem;
$line-height-t2: 1rem;
$line-height-t3: 1.125rem;
$line-height-t4: 1.1875rem;
$line-height-t5: 1.375rem;
$line-height-t6: 1.5rem;
$line-height-t7: 1.6875rem;
$line-height-t8: 1.875rem;

// ── Font Weight ─────────────────────

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
